/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


.wrap-slider {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section {
    width: 80%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#label-checkbox {
   width: fit-content;
}
.main{
    border-radius: 5px;
    padding: 10px;
    display: flex;
    background: #F0F0F0;
    height: 59px;
    flex-direction: column;
    border-bottom: 1px solid;
    transition: 0.5s;
    width: 62%;

}


.main:hover{
    border-bottom: 3px solid;
  
}
.body {
    display: flex;
}
input{
    outline: none;
    background-color:  #F0F0F0;
    margin-left: 15px;
    border:none;
    font-size: 19px
}
.label {
color: #A2A2A2;
}






